<body class="container" style="background:url(../../assets/images/body-reg2.jpg)
        no-repeat center center fixed;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        position:fixed;
        top:0;
        left:0;
    ">
<div class = "col-md-2 center-div" style="width: 375px;height:335px;margin: 50px 405px; background-color: rgba(6, 6, 6, 0.5); border-radius:3px;">
        <div *ngIf="!isEditing"> 
          <h4 style="color:white;text-align:center;">Add new data</h4>
            <form [formGroup]="addDataForm" (ngSubmit)="addData(datas)" >
              <div class="form-group" style="   width:80%; margin: 0px 36px;color:white">
                  <label for = "name">Name</label>
                  <input class="form-control" type="text" name="Name" formControlName="Name" placeholder="Name">
              </div>
              <div class="form-group" style="   width:80%; margin: 0px 36px;color:white">
                <label for = "name">Place/Address</label>
                <input class="form-control" type="text" name="Place" formControlName="Place" placeholder="Place" min="0">
              </div>
              <div class="form-group" style="   width:80%; margin: 0px 36px;color:white">
                <label for = "name">Age</label>
                <input class="form-control" type="number" name="Age" formControlName="Age" placeholder="Age" step="any" min="0">
              </div>
              <button class="btn btn-success" type="submit" [disabled]="!addDataForm.valid" style="color: #fff;background-color: #343434;border-color: #333333;margin: 36px 40px;"><i class="fa fa-floppy-o"></i> Add User</button>
            </form>
  </div>
</div>
</body>