.center-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

 html,body {
  height:100%;
  margin:0;
}
/* body{ */
    /* background-image: url('../../assets/images/body-reg.jpg'); */
/* } */
.content {
  height:100%;
  min-height:100%;/*for mozilla*/
}

html>body .content {
  height:auto;
}
